<header>
    <h1>SecondHandMarket</h1>
    <nav>
        <ul>
            <li>
                <a href="/">
                    <i class="fas fa-home"></i>
                    <span class="sr-only">Home</span>
                </a>
            </li>
            <li>
                <form action="/products" method="get" class="search-bar">
                    <input type="text" name="search" placeholder="Search product..." />
                    <button type="submit">
                        <i class="fas fa-search"></i>
                        <span class="sr-only">Search</span>
                    </button>
                </form>
            </li>
            <li>
                <a href="/cart">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="sr-only">Cart</span>
                </a>
            </li>
        </ul>
    </nav>
</header>
<hr>
