/* Style for header.ejs */
/* ปรับแต่งลักษณะของเมนู */
header h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
}

header nav ul li a i {
    font-size: 24px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 5px;
    font-size: 16px;
}

.search-bar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.search-bar button i {
    font-size: 18px;
}

/* Hide the text for screen readers */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}


/* Style for index.ejs */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    padding: 0;
}

.product-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 20px;
    text-align: center;
    width: 220px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.product-item img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product-item h3 {
    font-size: 1.2em;
    color: #333;
    margin: 10px 0;
}

.product-item p {
    font-size: 1.1em;
    color: #666;
}

.product-item p.price {
    font-size: 1.3em;
    font-weight: bold;
    color: #2c3e50;
    margin-top: 5px;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

a {
    display: inline-block;
    margin-top: 10px;
    color: #3498db;
    text-decoration: none;
    font-size: 0.9em;
}

a:hover {
    text-decoration: underline;
}
