body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    padding: 0;
}

.product-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 20px;
    text-align: center;
    width: 220px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.product-item img {
    width: 180px; /* Fixed width for images */
    height: 180px; /* Fixed height for images */
    object-fit: cover; /* Ensures the image covers the area */
    border-radius: 8px;
    margin-bottom: 10px;
}

.product-item h3 {
    font-size: 1.2em;
    color: #333;
    margin: 10px 0;
}

.product-item p {
    font-size: 1.1em;
    color: #666;
}

.product-item p.price {
    font-size: 1.3em;
    font-weight: bold;
    color: #2c3e50;
    margin-top: 5px;
}

button {
    background-color: #ff7523;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #2e2e2e;
    transform: translateY(-2px);
}

a {
    display: inline-block;
    margin-top: 10px;
    color: #3498db;
    text-decoration: none;
    font-size: 0.9em;
    transition: color 0.3s ease;
}

a:hover {
    text-decoration: underline;
    color: #217dbb;
}
